body{
   /*background: rgb(27,36,77);
   background: linear-gradient(180deg, rgba(27,36,77,1) 0%, rgba(94,89,143,1) 35%, rgba(123,103,131,1) 62%, rgba(189,136,105,1) 100%);*/
   /* background: #ffffff; */
   background-image: url("back.jpg");
   background-size: 100%;
   border: solid 7px #165274;
   padding: 5px;
}


.imgstyle{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.namestyle{
 text-align: center;
 font-size: 45px;
 margin-top: 15px;
 margin-bottom: 15px;
 text-transform: uppercase;
 font-family: Helvetica, sans-serif;
}

.namestyle2{
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
 }

.certifinfo{
  text-align: left;
  padding-left: 10%;
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}



























